[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
bcrypt = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
isort = "*"
flake8 = "*"
black = "*"
factory-boy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
